In [1]:
import polars as pl
import os
import duckdb

In [2]:
parent_folder = os.path.abspath(os.path.join(os.getcwd(), os.pardir))

In [3]:
database = os.path.join(parent_folder,'jobs_scraping', 'jobs.duckdb')

In [4]:
con = duckdb.connect(database)

In [5]:
con.execute("SHOW TABLES").df()

                      name
0  bridge_listing_category
1     bridge_listing_skill
2           dim_categories
3              dim_company
4                 dim_date
5             dim_location
6               dim_skills
7            fact_listings
8                     jobs
9             staging_jobs

In [6]:
fact_listings = pl.from_arrow(
    con.execute("SELECT * FROM fact_listings").arrow()
)

In [8]:
listings_with_salary = fact_listings.filter(pl.col('min_salary') != 'Not communicated',
                                           pl.col('min_salary') != '',
                                           pl.col('max_salary') != 'Not communicated').select(
    pl.col('company_id'),
    pl.col('job_title'),
    pl.col('location_id'),
    pl.col('min_salary').cast(pl.Int32),
    pl.col('max_salary').cast(pl.Int32),
    pl.col('listing_url'),
    pl.col('description'),
    pl.col('date_posted_id'),
    pl.col('date_scraped_id')
)

In [12]:
listings_with_salary.group_by(
    pl.col('job_title')
).agg(
    pl.col('min_salary').mean().alias('avg_min_salary'),
    pl.col('max_salary').mean().alias('avg_max_salary')
).head(10)

shape: (10, 3)
┌─────────────────────────────────┬────────────────┬────────────────┐
│ job_title                       ┆ avg_min_salary ┆ avg_max_salary │
│ ---                             ┆ ---            ┆ ---            │
│ str                             ┆ f64            ┆ f64            │
╞═════════════════════════════════╪════════════════╪════════════════╡
│  Experienced/Senior PHP Develo… ┆ 4000.0         ┆ 8500.0         │
│  Polyglot Developer with Pytho… ┆ 8000.0         ┆ 12000.0        │
│  GO Lang Developer              ┆ 5300.0         ┆ 11000.0        │
│  Mid/Regular Python Software E… ┆ 3881.0         ┆ 6320.0         │
│  Senior AI Engineer             ┆ 5000.0         ┆ 10000.0        │
│  Senior Java Developer          ┆ 8000.0         ┆ 9500.0         │
│  Senior Integration Engineer (… ┆ 6700.0         ┆ 11400.0        │
│  UX Designer                    ┆ 3000.0         ┆ 4500.0         │
│  ServiceNow Developer – Experi… ┆ 5500.0         ┆ 9500.0         │
│  Adobe Engineer Manager / Dev   ┆ 6000.0         ┆ 12500.0        │
└─────────────────────────────────┴────────────────┴────────────────┘